@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  font-family: 'Poppins', sans-serif;
} */
/* Add this to your CSS file (e.g., App.css or a separate CSS file) */
/* Add this to your CSS file (e.g., App.css or a separate CSS file) */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: white; /* Optional: Set a background color */
  position: relative; /* Positioning for the loader circle */
}

.loader-circle {
  width: 120px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
  border: 8px solid transparent; /* Base border color */
  border-radius: 50%; /* Make it circular */
  border-top-color: #3498db; /* Color of the spinning part */
  animation: spin 1s linear infinite; /* Spinning effect for the border */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Allow positioning of child elements */
}

.loader img {
  width: 100px; /* Adjust logo size */
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position logo in center */
  z-index: 1; /* Ensure logo is on top of the loader circle */
  animation: none; /* Ensure no animation is applied to the logo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  100% {
    transform: rotate(360deg); /* End position */
  }
}



.gradient-bg {

  @apply bg-gradient-to-l from-purple-400 to-slate-950;
 

  background-size: 400% 400%;
  /* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-slide {
  animation: slide 2s linear infinite;
}

.container {
  max-width: 1218px;
  padding: 0 20px;
  /* display: flex;  */
  /* justify-content: center;
  margin: auto;  */
}

/* 'sm': '640px',
    'md': '768px',
    'mi':'914px',
    'lg': '1024px',
    'xl': '1280px', */
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 914px) {
  .container {
    max-width: 914px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1220px;
  }
}

.fontstyle {
  font-family: 'Rajdhani', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.scroll-animation {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.animate {
  opacity: 1;
  transform: translateY(0);
}

.carousel-container {
  height: calc(100vh - 82px);
  /* Screen height minus the navbar height */
}